name: Test
on:
  pull_request:
  push:
    branches:
      - rolling
  schedule:
    # Run every day. This helps detect flakiness,
    # and broken external dependencies.
    - cron:  '0 0 * * *'

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    container:
      image: rostooling/setup-ros-docker:ubuntu-noble-latest
    steps:
    - uses: ros-tooling/action-ros-ci@v0.4
      with:
        package-name: topic_tools topic_tools_interfaces
        target-ros2-distro: rolling
        colcon-defaults: |
          {
            "build": {
              "cmake-args": [
                "-DCMAKE_CXX_FLAGS=\"-Werror\""
              ]
            }
          }
    - uses: actions/upload-artifact@v4
      with:
        name: colcon-logs
        path: ros_ws/log
