<?xml version="1.0"?>
<robot name="linear_motor">

  <link name="base_link">
    <visual>
      <origin xyz="0.0000 0.0000 0.0000" rpy="1.5700 0.0000 0.0000" />
      <geometry>
        <mesh filename="package://linear_motor/meshes/FixedBase.stl" />
      </geometry>
      <material name="base_link_mat">
        <color rgba="0.8235 0.5176 0.5176 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0000 0.0000 0.0000" rpy="1.5708 0.0000 0.0000" />
      <geometry>
        <mesh filename="package://linear_motor/meshes/FixedBase.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0000 0.0000 0.0000" rpy="0.0000 0.0000 0.0000" />
      <mass value="10" />
      <inertia ixx="0.1000" ixy="0.0000" ixz="0.0000" iyy="0.1000" iyz="0.0000" izz="0.1000" />
    </inertial>
  </link>

  <link name="link_2">
    <visual>
      <origin xyz="0.0000 0.0000 0.0000" rpy="1.5708 0.0000 0.0000" />
      <geometry>
        <mesh filename="package://linear_motor/meshes/MovingLink.stl" />
      </geometry>
      <material name="link_1770134311359_mat">
        <color rgba="0.2314 0.5098 0.9647 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0000 0.0000 0.0000" rpy="0.0000 0.0000 0.0000" />
      <geometry>
        <cylinder radius="0.0500" length="0.5000" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.0000 0.0000 0.0000" rpy="0.0000 0.0000 0.0000" />
      <mass value="1" />
      <inertia ixx="0.1000" ixy="0.0000" ixz="0.0000" iyy="0.1000" iyz="0.0000" izz="0.1000" />
    </inertial>
  </link>

  <joint name="joint_1" type="prismatic">
    <parent link="base_link" />
    <child link="link_2" />
    <origin xyz="0.0000 0.0000 0.0000" rpy="0.0000 0.0000 0.0000" />
    <axis xyz="0.0000 1.0000 0.0000" />
    <limit lower="0" upper="0.63" effort="100" velocity="10" />
  </joint>

</robot>
